
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(236,247,252) url(../img/background.jpg) no-repeat;
    background-position: top center;
}


.tasks .group {
    padding: 8px 48px;
    margin: 8px;
}

input[type="checkbox"] {
    display: none;
}

.tasks label::before {
    content: "";
    background: url("../img/ok_50px.png");
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 15px;
    top: 13px;

    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

input[type="checkbox"]:checked + label::before {
    transform: scale(1) rotateZ(0deg);
}

.tasks label::after {
    content: "";
    border: 2px solid #24ae60;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 18px;
    top: 15px;
    border-radius: 50%;
}

#add_category a:hover {
    content: "asdj" !important;
}